.border-bottom-2 {
    border-bottom: 2px solid;
}
.border-orange {
    border-color: #a86501 !important;
}
.bg-orange {
    background-color: #a86501 !important;
}
.w-fit {
    width: fit-content;
}

@media (min-width: 1441px) {
    .col-4k-3d2{
        width: calc(100% / 12 * 1.5);
    }
}

@media (max-width: 994px) {
    html {
        font-size: 13px;
    }
}
@media (max-width: 776px) {
    html {
        font-size: 10px;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

#create-task-popup,
#task-details {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#create-task-popup > div {
    position: fixed;
    top: 5%;
    overflow-y: scroll;
    max-height: 85%;
    width: 60%;

    &::-webkit-scrollbar {
        display: none;
    }
}
@media (max-width: 994px) {
    #create-task-popup > div {
        top: 10%;
        width: 65%;
    }
}
@media (max-width: 500px) {
    #create-task-popup > div {
        width: 95%;
    }
}

#task-details {
    overflow: hidden;

    & form {
        position: fixed;
        top: 10%;
        right: -100%;
        transition: right 500ms ease-in-out;

        &.show {
            right: 0;
        }
    }
    & input.title{
        font-size: 1.75rem;
        font-weight: bold;
    }
}

#success-notification {
    z-index: 1;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: top 300ms ease-in-out;

    &::after {
        content: attr(data-message);
        margin-left: 1rem;
    }

    & i {
        width: 1.5rem;
        height: 1.5rem;
        padding: .2rem;
    }

    &.showAlert {
        top: 1rem;
    }
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list {
    min-height: 70vh;
}

.list-title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 767px) {
    .tasks-controll {
        row-gap: 1rem;
        flex-direction: row-reverse;
        & #add-task {
            order: 1;
        }
    }
}

.task {
    border-radius: .35rem;
    border: 1px solid;
    border-left-width: 7.5px;
    padding: .75rem;
    margin-bottom: 1.3rem;

    & .title-link {
        cursor: pointer;
        color: rgba(0, 0, 0, .7);
        word-break: break-all;

        &:hover {
            color: rgb(25, 94, 255);
            text-decoration: underline;
        }
    }
}